* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #000000, #ffffff); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px; 
    overflow-y: auto; 
}

.header {
    background-color: #000; 
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.header a {
    color: #ffcc00; 
    text-decoration: none;
    font-size: 16px;
}

.header a:hover {
    text-decoration: underline;
}

.container {
    background-color: #1a1a1a; 
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2); 
    text-align: center;
    width: 600px;
    max-width: 90%;
    margin: 100px 0 20px 0;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #ffffff; 
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 14px;
    background-color: #333; 
    color: white; 
}

input:focus {
    border-color: #ffffff; 
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000; 
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555; 
}

.help-link {
    text-align: center;
    margin-top: 20px;
}

.help-link a {
    color: #ffcc00; 
    font-size: 14px;
    text-decoration: none; 
}

.help-link a:hover {
    text-decoration: underline; 
}

.mensaje-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.footer {
    background-color: #000; 
    color: #ffcc00; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    color: #ffcc00; 
    text-decoration: none;
    padding: 0 15px;
}

.footer a:hover {
    text-decoration: underline;
}
