body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
}

.logo-buscar{
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
}

.search-barra{
    width: 400px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.Icono-Usuario{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 20px;
}

.filtro-Lateral{
    width: 20%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.filtro-Lateral h3{
    margin-bottom: 15px;
}

.filtro-Lateral label, .filtro-Lateral input {
    display: block;
    margin-bottom: 10px;
}

.filtro-Lateral label {
    display:block;
    margin-bottom: 5px;
    font-weight: bold;

}



.filtro-Lateral input {
    width: 100%; /* Asegura que los campos de entrada se alineen correctamente */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.filtro-Lateral button{
    width: 20%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lista-trabajos{
    width: 75%;

}

.publicacion{

    display:flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

}

.trabajo-imagen{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #85773d;
}

.trabajo-info{
    
    flex-grow: 1;


}

.trabajo-info h3{
    margin: 0;

}

.Guardar-job{
    background-color: #4caf50;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:white;

}

.pagina-nav{
    display: flex;
    justify-content: center;

    align-items: center;
    padding: 10px 0;



}

.pagina-nav a{
    padding: 8px 12px;
    border: 1px solid #ccc;
    margin-right: 5px;
    text-decoration: none;
    color: #123;
    border-radius: 3px;

}

.pagina-nav span{
    padding: 8px 12px;
    color: #321;
}