:root {
    --fondo-principal: linear-gradient(to bottom, #000000, #ffffff); /* Fondo difuminado */
    --fondo-barra-superior: #000000;
    --fondo-formulario: #222222;
    --boton-color: #007bff;
    --boton-hover: #0056b3;
    --texto-principal: #ffcc00;
    --texto-secundario: #ffffff; /* Color amarillo para encabezados */
    --error-color: red;
    --enlace-barra: #ffcc00; /* Color amarillo para enlaces */
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: var(--fondo-principal);
    color: var(--texto-principal);
}

header .nav-bar {
    background-color: var(--fondo-barra-superior);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-container {
    background-color: #242424;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--texto-secundario); /* Amarillo */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    color: var(--texto-secundario); /* Amarillo */
}

input, textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

input[type="file"] {
    border: none;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.terms {
    margin-bottom: 1rem;
}

.terms label {
    display: inline;
    color: var(--texto-secundario); /* Amarillo */
}

.terms a {
    color: var(--enlace-barra); /* Amarillo */
    text-decoration: none;
}

.error-message {
    color: var(--error-color);
    font-size: 0.9rem;
    display: none;
}

/* Footer */
footer .contact-bar {
    background-color: var(--fondo-barra-superior);
    padding: 1rem;
    text-align: center;
}

footer .contact-bar a {
    color: var(--enlace-barra); /* Amarillo */
    margin: 0 10px;
    text-decoration: none;
}

footer .contact-bar a:hover {
    text-decoration: underline;
}

/* Estilos para el enlace de inicio de sesión */
.login-link {
    text-align: center;
    margin-top: 1rem;
}

.login-link a {
    color: var(--enlace-barra); /* Amarillo */
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
