body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2AB7B7; /* Fondo azul claro */
  color: #ffffff;
}

header {
  background-color: #0B2D4D; /* Fondo azul oscuro */
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #ffffff; /* Letras en blanco */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  background-color: #0B2D4D; /* Fondo azul oscuro */
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
  text-align: center;
  color: #ffffff; /* Letras en blanco */
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #E6E6E6; /* Fondo gris claro para los campos de texto */
  color: #0B2D4D; /* Texto en azul oscuro */
}

.login-form input[type="submit"] {
  background-color: #4E6378; /* Fondo azul medio */
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-form input[type="submit"]:hover {
  background-color: #6D8AA8; /* Fondo azul más claro al pasar el ratón */
}

.error-message {
  color: red;
  text-align: center;
}

a {
  color: #ffffff; /* Enlaces en blanco */
  display: block;
  text-align: center;
  margin-top: 15px;
}

.register-link {
  color: #ffffff; /* Enlace de registro en blanco */
  text-align: center;
  display: block;
  margin-top: 10px;
}

input, textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #0B2D4D; /* Texto en azul oscuro */
  background-color: #E6E6E6; /* Fondo gris claro */
}
