/* Ajustar la posición del logo */
.logo {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px; /* Agrega espacio superior */
}

/* General body styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the content */
.container {
    background-color: #e5edef;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    max-width: 90%;
}

/* Logo styling */
.logo {
    width: 100px;
    margin-bottom: 20px;
}

/* Main heading styling */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

/* Form group styling */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button styling */
button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
