* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f3f8f9; 
    border: 50px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}   

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f3f8f9;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.sitio-titulo{
    font-family: 'Georgia', serif;
    font-size: 36px;
    color: #333;
    margin-left:65px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
    color: #333;
    margin-bottom: 50px;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.boton {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #f60606;
}

.ayuda {
    color: #555;
    font-size: 16px;
    text-decoration: none;
}

.ventana {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.ventana-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 4px;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}