body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #000000, #ffffff); 
    margin: 0;
    padding: 0;
    color: #343a40;
}

.barra-navegacion {
    background-color: #000000; 
    padding: 15px;
    box-shadow: 0 4px 10px #5c5050;
    position: sticky;
    top: 0;
    z-index: 100;
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-nombre {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    color:#ffffff;
}

.nombre-sitio {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.perfil-usuario {
    display: flex;
    align-items: center;
}

.icono-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nombre-usuario {
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
}

.contenedor-editar-perfil {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    color:#ffffff;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.campo {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #ffffff;
}

input[type="text"], input[type="email"], input[type="file"] , input[type="rol"],input[type="submit"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f8f9fa; 
    color: #000000; 
}

input[type="file"] {
    padding: 5px;
}

.acciones-formulario {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-guardar {
    background-color: #28a745;
    color: #ffffff;
}

.btn-guardar:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

.btn-cancelar {
    background-color: #dc3545;
    color: #ffffff;
    text-decoration: none;
}

.btn-cancelar:hover {
    background-color: #c82333;
    transform: translateY(-3px);
}
