* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5BC0BE;
}

.barra-superior {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #1C2541;
}

.logo {
    height: 50px;
}

.container {
    background-color: #1C2541;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-top: 80px; /* Separación debajo del header */
    margin-bottom: 20px; /* Separación antes del footer */
    color: #FFFFFF;
}

h1 {
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    font-size: 1.8rem; /* Ajustar tamaño del título */
    white-space: nowrap;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="password"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #0B132B;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    color: #0B132B;
}

button {
    padding: 0.75rem;
    background-color: #0B132B;
    color: #FFFFFF;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5BC0BE;
}

.footer {
    background-color: #1C2541;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    border-top: 1px solid #3A506B;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer a {
    color: #5BC0BE;
    text-decoration: none;
}

.footer a:hover {
    color: #D0E1F9;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .container {
        padding: 2rem;
        margin-top: 100px; /* Ajustar separación debajo del header */
        max-width: 90%; /* Ajustar ancho para pantallas medianas */
    }

    h1 {
        font-size: 1.5rem; /* Ajustar tamaño del título */
    }

    input[type="password"] {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
        margin-top: 120px; /* Mayor separación en dispositivos pequeños */
    }

    h1 {
        font-size: 1.3rem; /* Reducir tamaño del título */
    }

    input[type="password"] {
        font-size: 0.85rem;
        padding: 0.5rem;
    }

    button {
        font-size: 0.85rem;
        padding: 0.5rem;
    }

    .footer {
        font-size: 0.8rem;
    }
}
