body {
    font-family: 'Poppins', sans-serif;
    background: #5BC0BE;
    margin: 0;
    padding: 0;
    color: #343a40;
}

.barra-navegacion {
    background-color: #0B132B;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-nombre {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.nombre-sitio {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.perfil-usuario {
    display: flex;
    align-items: center;
}

.icono-perfil {
    font-size: 40px;
    color: #FFFFFF;
    margin-right: 10px;
}

.nombre-usuario {
    color: #ffffff;
    font-size: 16px;
}

.contenedor-perfil {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0B132B;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.perfil-cabecera {
    margin-bottom: 30px;
}

.foto-perfil {
    font-size: 100px;
    color: #5BC0BE;
    margin-right: 10px;
}

.nombre-perfil {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

.correo-perfil {
    font-size: 18px;
    color: #ffffff;
}

.perfil-detalles {
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
    color: #ffffff;
}

.titulo-seccion {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.perfil-acciones {
    margin-top: 30px;
}

button {
    font-size: 16px;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-editar {
    background-color: #6c819b;
    color: #0B132B;
}

.btn-editar:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}

.btn-password {
    background-color: #596778;
    color: #0B132B;
}

.btn-password:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}

.btn-logout {
    background-color: #4e5761;
    color: #0B132B;
}

.btn-logout:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
}

.nombre-sitio i {
    margin-right: 10px;
    color: #5BC0BE;
}

.titulo-seccion i {
    margin-right: 10px;
    color: #ffffff;
}

.perfil-detalles p i {
    margin-right: 5px;
    color: #ffc107;
}

button i {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .contenedor-navegacion {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 50px;
    }

    .nombre-sitio {
        font-size: 20px;
    }

    .contenedor-perfil {
        padding: 15px;
    }

    .perfil-cabecera {
        text-align: center;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .contenedor-navegacion {
        padding: 10px;
    }

    .logo {
        width: 40px;
    }

    .nombre-sitio {
        font-size: 16px;
    }

    .contenedor-perfil {
        margin: 30px auto;
        padding: 10px;
    }

    .nombre-perfil {
        font-size: 20px;
    }

    .correo-perfil {
        font-size: 16px;
    }

    button {
        font-size: 12px;
        padding: 8px;
    }
}
