body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #ffffff); /* Fondo difuminado */
    color: #ffcc00; /* Color de texto principal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000; /* Fondo negro completo */
    color: #ffcc00; /* Texto en amarillo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 100px;
    height: auto;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: normal;
    color: #ffcc00; /* Amarillo */
    font-size: 18px;
}

nav ul li a:hover {
    color: #cccc00; /* Un tono más claro al pasar el cursor */
}

nav ul li a.active {
    font-weight: normal;
    color: #ffcc00; /* Amarillo */
}

.user-options a {
    color: #ffcc00; /* Amarillo */
    text-decoration: none;
    font-size: 16px;
}

/* Main Section */
main {
    flex: 1;
    padding: 20px;
}

.empresa-intro {
    background-color: #302f2f;
    color: #ffffff; /* Amarillo */
    padding: 20px;
    text-align: center;
}

.empresa-intro h1 {
    margin: 0;
    font-size: 24px;
}

.empresa-intro p {
    font-size: 16px;
}

/* Postulantes */
.postulantes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.postulante-card {
    background-color: #242424;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postulante-card h3 {
    margin-top: 0;
    font-size: 22px;
    color: #ffffff; 
}

.postulante-card p {
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff; 
}

button {
    background-color: #007bff;
    color: #ffffff; /* Amarillo */
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #000000; /* Fondo negro completo */
    color: #ffcc00; /* Texto en amarillo */
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta según sea necesario */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos adicionales para el formulario del modal */
#mensajeForm {
    display: flex;
    flex-direction: column;
}

#mensajeForm label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333; /* Texto del label en negro */
}

#mensajeForm textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#mensajeForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#mensajeForm button:hover {
    background-color: #555;
}
