body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5BC0BE; 
    margin: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    color: #FFFFFF;
}

header {
    background-color: #1C2541;
    color: #FFFFFF;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sitio-titulo {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    flex: 1; 
}

.logo {
    position: absolute;
    left: 20px; 
    max-width: 100px;
    height: auto;
}

.contenedor-politica {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1C2541; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #FFFFFF;
}

.contenedor-politica a {
    color: #5BC0BE; 
    text-decoration: none;
}

.contenedor-politica a:hover {
    text-decoration: underline;
}

h2 {
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 10px;
}

h3 {
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
}

p, ul, li {
    color: #D0E1F9; 
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.privacy-link, .correolink, footer a {
    color: #5BC0BE;
    text-decoration: none;
}

.privacy-link:hover, .correolink:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1C2541; 
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #FFFFFF;
}

footer a {
    color: #5BC0BE;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
