body, html {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    margin:0;
    background-color: #f4f6f8;
    background: linear-gradient(to bottom right, #1e1e1e, #4e4e4e);
    color: #f1f1f1;
    overflow: auto;
}
#header {
    background-color: #121212;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #084298;
}
#conten{
    margin-top: 120px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-row{
    display:                  flex;
    justify-content: space-between;
    align-items:            center;
    
    
}

.logo-container img {
    height:                    50px;
    width:                     auto;
    transition: transform 0.3s ease, filter 0.5s ease;
    border: none;
    
}

.logo-container img:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.ayuda {
    text-align: right;
    margin-top: 10px;
}

.btn-ayuda {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-ayuda:hover {
    background-color: #f1f1f1;
    color: #121212;
}

.form-container {
    margin: 50px auto;
    padding: 30px;
    max-width: 700px;
    background-color: #333;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.password-container{
    position: relative;
    display: flex;
    align-items: center;

}
.password-container input{
    flex: 1;
}

.password-container img{
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 24px;
    height: auto;
    background-color: transparent;
}

.help-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.help-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.help-link a:hover {
    text-decoration: underline;
}
.obligatorio{
    color: red;
    font-weight: bold;
    margin-left: 5px;
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
    margin-top: 5px;
}

.campos-requeridos {
    font-size: 12px;
    color: #f1f1f1;
    margin-top: 10px;
    font-weight: bold;
}
.form-footer {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.form-footer a {
    color: #007bff;
}

.form-footer a:hover {
    text-decoration: underline;
}


#registro-empresa {
    display: flex;
    flex-direction: column;
    gap:15px;
}

#registro-empresa label {
    margin-top: 10px;
    font-weight: bold;
}

#registro-empresa input,
#registro-empresa textarea {
    margin-top: 5px;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #f1f1f1;
    transition: border-color 0.3s ease;
}
#registro-empresa input:focus, 
#registro-empresa textarea:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 5px rgba(115, 171, 255, 0.842); 
}

#registro-empresa button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #0d6efd;
    color: #121212;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#registro-empresa button:hover {
    background-color: #084298;
    transform: scale(1.05);
}

#terminos-condiciones, #politica-privacidad {
    color: #0d6efd;
    text-decoration: none;
    font-size: 14px;
}

#terminos-condiciones:hover, #politica-privacidad:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container img {
        height: 40px;
    }

    #registro-empresa {
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }
}
