body{
    font-family: "Poppins", sans-serif;
}

#chatContainer {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

#chatMessages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.mensaje-propio {
    text-align: right;
    background: #e0f7fa;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.mensaje-ajeno {
    text-align: left;
    background: #fce4ec;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

#chatForm {
    display: flex;
}

#mensaje {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-left: 5px;
    background: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #004d40;
}
