* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 90%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#chat-window {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

/* hacer la pagina responsiva */
@media (max-width: 768px) {
    .chat-container {
        width: 95%;
        max-width: 500px;
    }

    #chat-window {
        padding: 15px;
        height: 350px;
    }
}

@media (max-width: 576px) {
    .chat-container {
        width: 100%;
        max-width: 400px;
    }

    #chat-window {
        padding: 10px;
        height: 300px;
    }
}