body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #000000, #ffffff); 
    color: #333; 
    line-height: 1.6;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.barra-superior {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #000; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.logo {
    height: 50px;
}

.titulo {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.8em;
    color: #fff; 
}

.container {
    max-width: 900px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    flex-grow: 1;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(68, 68, 68, 0.9); 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    color: #fff; 
}

li .comentario-autor {
    font-weight: bold;
    color: #ffcc00;
}

li .comentario-texto {
    color: #ffffff;
    margin-left: 10px;
}

li .comentario-fecha {
    font-size: 0.9em;
    color: #cccccc;
    margin-left: 10px;
}

.footer {
    background-color: #000; 
    text-align: center;
    padding: 15px;
    color: #fff; 
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: auto; 
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
