html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    overflow-x: hidden;
    background-color: #5BC0BE;
    color: #333;
    display: flex;
    flex-direction: column;
}

.barra-superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2541;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 50px;
}

.titulo {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.8em;
    color: #FFF;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 60px auto;
    background-color: #1C2541;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    color: #FFF;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #3A506B;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #FFF;
}

li .comentario-autor {
    font-weight: bold;
    color: #5BC0BE;
    display: flex;
    align-items: center;
    gap: 5px;
}

li .comentario-texto {
    color: #FFF;
    margin-top: 10px;
    word-wrap: break-word; 
}

li .comentario-fecha {
    font-size: 0.9em;
    color: #D0E1F9;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer {
    background-color: #1C2541;
    text-align: center;
    padding: 15px;
    color: #FFF;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

.footer a {
    color: #5BC0BE;
    text-decoration: none;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.footer a:hover {
    color: #FFF;
}
