body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px; 
    height: auto;
    opacity: 0.8; 
}

.header .logo h1 {
    color: white;
    margin-left: 10px;
    font-size: 20px; 
}

.header .user-profile {
    color: white;
    display: flex;
    align-items: center;
}

.header .user-profile img {
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    opacity: 0.8; 
}

.gestion-consultas {
    text-align: center;
    padding: 20px;
}

.gestion-consultas h2 {
    font-size: 24px;
}

.search-filter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-filter input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.search-filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.consulta-lista {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.consulta {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;  
    margin-bottom: 20px;  
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;  
    max-width: 1000px;  
    margin-left: auto;
    margin-right: auto;
}

.consulta .icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.8; 
}

.consulta .details p {
    font-size: 16px;  
}

.consulta .details h3 {
    font-size: 20px;  
}

.consulta p {
    margin: 5px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto; 
}

.buttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons .btn-ver {
    background-color: #28a745;
}

.buttons .btn-ver:hover {
    background-color: #218838;
}

.back-button {
    text-align: center;
    margin-top: 30px;
}

.back-button button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button button:hover {
    background-color: #5a6268;
}
